.adminPanel{
    display: flex;
    min-height: 70vh;
}
.adminPanel ul {
    list-style-type: none;
    margin-top: 5px;
    flex: 10%;
}
.adminPanel ul button{
    border-radius: 0;
    width: 135px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}
.adminPanel .adminComponent{
    flex: 80%;
}

/* Product part */

.adminProductContainer .upperPart{
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

/*Add Product modal*/

.add__product__form>div{
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}
.add__product__form>div>label{
    flex-grow: 1;
    flex-basis: 15%;
}
.add__product__form>div>input{
    flex:auto
}

.adminProductContainer .bottomPart table{
    border-collapse: collapse;
}
.adminProductContainer .bottomPart table tr:nth-child(even){background-color: #f2f2f2;}
.adminProductContainer .bottomPart table tr:hover{background-color: #ddd;}
.adminProductContainer .bottomPart td{
    border-bottom: 1px solid gray;
    padding: 10px;
}
.adminProductContainer .bottomPart table thead{
    font-weight: bold;
}
.adminProductContainer .bottomPart img{
    width: 40px;
    height: 40px;
}
    .bottomPart .productTitle{
        max-width: 440px;
        font-weight: bold;
    /* text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    max-height: 3.6em;
    line-height: 1.8em; */
}


/*Edit Product Page*/

.edit__product__container h2{
    text-align: center;
}
.edit__product__container form{
    width: 80%;
    margin: 0 auto;
}
.edit__product__container .form__group{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
.edit__product__container .form__group> label{
    flex-grow: 1;
    flex-basis: 30%;
}
.edit__product__container .form__group> input{
    flex-basis: 70%;
    padding: 5px;
}
/* User Page */
.adminUserContainer{


}
.adminUserContainer table{
    border-collapse: collapse;
    width: 90%;
}
.adminUserContainer table tr:nth-child(even){background-color: #f2f2f2;}
.adminUserContainer table tr:hover{background-color: #ddd;}
.adminUserContainer td{
    border-bottom: 1px solid gray;
    padding: 10px;
}
.adminUserContainer table thead{
    font-weight: bold;
}