.profile__container{
    display: flex;
    justify-content: space-evenly;
}
.profile__container ul{
    display: flex;
    flex-direction: column;
}
.profile__container ul li{
    list-style-type: none;
    border: 1px solid;
    margin-bottom: 5px;
}
.profile__container ul li:hover{
    cursor: pointer;
}

.profile__container table{
    border-collapse: collapse;
    width: 100%;
}
.profile__container table tr:nth-child(even){background-color: #f2f2f2;}
.profile__container table tr:hover{background-color: #ddd;}
.profile__container td{
    border-bottom: 1px solid gray;
    padding: 10px;
}
.profile__container table thead{
    font-weight: bold;
}